.form#login
	.titleD<
		%span.titleS ログイン
	%form{ :method => "post", :action => "./api.rb?mode=login", :name => "loginform"}
		.center
			%label 学籍番号
			%input#user{ :type => "text", :name => "user" }><
			%br.clearfix

			%label パスワード
			%input#pass{ :type => "password", :name => "pass" }><

			%input.button.blue{ :type => "submit", :value => "ログイン" }
			%br.clearfix