@charset "UTF-8";
@import "mixin";
@import "variables";

/* ----------- _form.scss ----------- */

@import "bootstrap-buttons";
@import "beautiful-checkbox";

form {
	@mixin input-like-bootstrap {
		// Referenced from Bootstrap
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		padding: 6px 8px;
		color: #555;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	}

	@mixin input-like-bootstrap-focus {
	  outline: 2px solid #5B9DD9;
	  outline-offset: -2px;

		transition: outline-width .1s;
		-webkit-transition: outline-width .1s;
	}

	@mixin field-margin($margin-bottom: 16px) {
		margin: 0 auto $margin-bottom;
	}

	@mixin text-field {
		width: 100%;
		background: rgba(255, 255, 255, .9);
	}

	margin: 0 auto;
	box-sizing: border-box;

	width: $form-width;

	* {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	input, label {
		display: block;
	}

	label {
		margin: 4px 0;
		display: inline-block;
		padding: 0;
		vertical-align: top;
		cursor: pointer;


		& + label {
			margin-left: .25em;
		}
	}

	span.value {
		display: inline-block;
		margin: 0 auto 8px 16px;
	}

	input {
		box-sizing: border-box;

		&[type=text], &[type=password], &[type=email], &[type=search] {
			@include input-like-bootstrap;
			@include field-margin;
			@include text-field;

			&:focus {
				@include input-like-bootstrap-focus
			}
		}

		&[type=checkbox], &[type=radio] {
			@include field-margin(0px);
		}

		&[type=file] {
			position: absolute;
			visibility: hidden;
			width: 1px;
			height: 1px;
			opacity: 0;
		}
	}

	textarea {
		@include input-like-bootstrap;
		@include field-margin;
		@include text-field;

		&:focus {
			@include input-like-bootstrap-focus
		}

		resize: vertical;
	}

	small {
		display: inline-block;
		margin-left: .2em;
	}

	.warn {
		display: block;
		width: 150%;

		color: #D12E1F;
		font-size: .88em;
	}
}

.btn-block {
	margin: 1em auto 0;
	width: $form-width;
}

/* ----------- end _form.scss ----------- */