@charset "UTF-8";
@import "mixin";

section {
	&#files {
		& article:first-of-type {
			border-top: none;
			padding-top: 0;
		}

		article {
			border-top: 1px solid #ddd;
			margin-bottom: .5em;
			padding: .5em 12px 0;

			a.file-name {
				display: block;
				max-width: 100%;
				@include ellipsis;

				font-size: 1.2em;
			}

			.user {}

			// .access-count {
			// 	&:after {
			// 		content: "アクセス";
			// 	}
			// }

			time {
				font-size: .88em;
				float: right;
			}
		}
	}

	&#mylists ul {
		padding-left: 12px;
		li {
			list-style-type: none;
			display: block;
			clear: both;
			margin: .4em 0;
			padding-top: .8em;
			border-top: 1px solid hsl(0, 0%, 80%);

			&:first-child {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}

			.link {
				font-size: 1.2em;
				float: left;
			}

			.user {
				float: right;
				a {
					padding-right: 0;
					display: inline;
				}
			}

			.summary {
				clear: both;
				float: left;
				margin: .5em .5em 0;
				text-indent: 1em;
				word-break: break-all;
			}
		}
	}
}