@charset "UTF-8";

$width: 544px;
$form-width: 216px;

$background: rgba(241, 77, 0, 0.01);
$header-background: hsl(2, 95%, 60%);
// $header-background: hsl(38, 100%, 55%);

$header-border-radius: 12px;
$border-radius: 10px;