@charset "UTF-8";

$width: 640px !default;
$form-width: 256px !default;

$background: rgba(241, 77, 0, 0.01);
$header-background: #FA3F38; //hsl(2, 95%, 60%);
// $header-background: hsl(38, 100%, 55%);
// $header-background: #29905e; // Alpha color

$header-border-radius: 12px;
$border-radius: 10px;

$checkbox-size: 28px;
