
-# %section#admin.form.border
%section#admin.border
	%table#user-list
		%caption ユーザ一覧
		%thead
			%tr
				%th ユーザ名
				%th 登録日
				%th 最終ログイン
		%tbody
			- User.available.each do |user|
				%tr
					%td
						- if user.admin
							%i.fa.fa-check
						%a{href("/user/#{user.user_name}")}= user.user_name
					%td= user.created_at.strftime("%F %T")
					%td= user.logged_activities.last.created_at.strftime("%F %T")

