@charset "UTF-8";

// 基準:16px
// 10px:63%     11px:69%       12px:75%
// 13px:81.5%    14px:88%      15px:94%
// 16px:100%     17px:106.3%  18px:112.5%
// 19px:119%     20px:125%     21px:131.3%
// 22px:137.5%   23px:144%    24px:150%
// 25px:156.3%   26px:162.5%

/* ----------- common.scss ----------- */

* {
	//font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
	color: #333;
	font-size: 16px;
}
* html { font-size: 100%; } // for IE6
*:first-child+html { font-size: 100%; } // for IE7

$width: 630px;

body {
	background-image: url(../akari.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	background-size: auto 320px;

	margin: 15px auto 10px auto;
	padding-bottom: 15px;

	width: $width;

	border: 5px solid #A6E39D;
	//border: 5px solid #cec;
	border-radius: 8px;
	box-shadow: 5px 5px 10px #ccc;
}

a { color:#007b43;	}
ul, ol { margin: 0; }
small { font-size: 70%; }

/* ----------- clearfix-micro ----------- */
/* From: http://coliss.com/articles/build-websites/operation/css/css-micro-clearfix.html */
.cf:before, .cf:after,
body > section:before,
body > section:after {
    content:"";
    display:table;
}
.cf:after,
body > section:after {
	clear:both;
}

/* ----------- ヘッダー ----------- */
header {
	background-color: #29905e;
	border-radius: 4px 4px 0 0;

	padding: 8px 15px 4px;
	margin-bottom: 8px;

	* {
		color: #fcfaf5;
	}

	#right {
		float: right;
		text-align: right;
	}

	#title {
		font-size: 156.3%;
		text-shadow: 2px 2px 8px rgba(255,255,255, 0.5);
		text-decoration: none;
		float: left;

		&:hover {
			text-decoration: underline;
		}
	}

	#right a {
		font-size: 81.5%;
		color: #CCC;
	}
}

/* ----------- セクション/枠 ----------- */
section {
	position: relative;
	display: block;
	//margin: 5px 10px;
	margin: 10px;
}

.border {
	border-top: #efb747 2px solid;
	//border-radius: 8px;
	margin: 20px 20px 25px;
	padding: 5px;
}

.center {
	margin: 0 auto;
	width: 400px;
}

.title {
	position: absolute;
	background: white;
	left: 1rem;
	top: -13px;
	padding: 0 0.3rem
}

// 枠の見出し(仮)
.titleD {
	margin: -17px auto auto 12px;

	.titleS {
		font-size: 106.7%;
		padding: 0 7px;

		background: white;
		width: auto;
	}
}

/* -----------フッター ----------- */
hr {
    border: 0;
    height: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    //border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
	height: 15px;
	border-top: 1px dashed #CCC;

	* {
		font-size: 81.5%;
		padding: 8px 2px 2px 8px;

		position: absolute;
		bottom: 2px;
	}

	#author {
		text-align: right;
		right: 3px;
	}
}

/* ----------- end common.scss ----------- */