@charset "utf-8";
@import "cf-micro";
@import "mixin";
@import "variables";

/* font-size memo (Based-on 16px)
 *  9px -> 0.50em, 12px -> 0.75em, 18px -> 1.12em, 24px -> 1.50em
 * 10px -> 0.62em, 14px -> 0.87em, 20px -> 1.25em, 26px -> 1.62em
 * 11px -> 0.68em, 16px -> 1.00em, 22px -> 1.37em, 32px -> 2.00em
 */

/* ----------- common.scss ----------- */

body {
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	color: #333;
	font-size: 16px;
}

body {
	// background: rgba(128, 128, 128, 0.04);
	background: $background;
	width: $width;
	margin: 0 auto;
}

a { color: #007b43;	}
ul, ol { margin: 0; }
small { font-size: 70%; }

// main

header {
	position: relative;
	margin-top: 1em;
	border-radius: $header-border-radius;
	background: $header-background;

	padding: 12px;

	* {
		color: #fcfaf5;
	}

	h1 {
		margin: 0 0 .1em .25em;
		float: left;

		font-family: 'Source Code Pro', monospace;
		font-weight: 100;
		font-size: 1.5rem;
		// text-shadow: .5px .5px 10px rgba(255, 255, 255, 0.25);
	}

	a {
		letter-spacing: .06em;
		color: white;
		border-bottom: 1px solid transparent;

		&, &:hover {
			text-decoration: none;
			transition: .2s ease;
		}

		&:hover {
			border-bottom-color: white;
		}
	}

	#right {
		display: inline-block;
		float: right;
		// text-align: right;
		font-size: 1.25em;
		margin-right: .4em;

		.fa {
			font-size: 1.1em;
		}
	}

	nav {
		position: relative;
		display: inline-block;
		clear: left;
		margin-bottom: -12px;

		font-size: .88em;
		vertical-align: middle;
		padding: 5px;

		&#admin {
			float: left;
		}

		&#global-link {
			float: right;
		}

		a {
			transition: .15s ease;

			display: inline-block;
			margin-left: .25em;
			padding: 5px;

			text-decoration: none;
			border: 1px solid transparent;
			border-radius: 5px;

			&:hover {
				transition: .25s;
				// border-color: hsla(0, 0%, 30%, .57);

				border-color: hsla(0, 0%, 33%, 0.2);
				// background-color: darken($header-background, 15%);
				background-color: hsla(0, 0%, 25%, 0.2);
			}

			&:active {
				outline: 0;
				background-color: hsla(0, 0%, 25%, 0.2);
				box-shadow: inset hsla(0, 0%, 15%, 0.3) 1px 1px 5px;
			}
		}
	}
}

main { }

section {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	position: relative;
	display: block;

	margin: 0 auto;
	// width: $width;

	&.border {
		background-color: #faf9f9;
		border: 1px solid #ddd;
		border-radius: $border-radius;

		margin: 1em auto;
		padding: 12px 16px;
	}

	.btn-block {
		width: 216px;
	}

	section {
		margin-left: 1em;

		&:focus {
			outline: none;
		}
	}

	h3 {
		display: inline-block;

		margin: .5em 0;
		// &:first-child {
		// 	margin: .5em 0;
		// }
	}

	h2, h3 {
		+ .right-top {
			top: .32em;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.right-top, .right-bottom {
		font-size: .88em;
		vertical-align: middle;

		a {
			display: inline-block;
			padding: 5px;

			text-decoration: none;
			border: 1px solid transparent;
			border-radius: 5px;
			color: #444;
			outline: none;

			transition: .15s ease;

			&:hover {
				transition: .25s;
				border-color: #aaa;
				background-color: rgba(255, 255, 255, .4);
			}

			&:active {
				outline: 0;
				background: hsla(0, 0%, 0%, 0.01);
				box-shadow: inset hsl(0, 0%, 85%) 1px 1px 1px;
			}
		}
	}

	li a {
		@include ellipsis;

		max-width: 95%;
		display: inline-block;
		line-height: 1;
		vertical-align: middle;
	}

	.right-top {
		position: absolute;
		right: .25em;
		top: 1em;
	}

	.right-bottom {
	  margin-top: .75em;
	  text-align: right;
	  display: block;
	}

}

.center {
	display: block;
	width: 400px;
	margin: 8px auto;
	text-align: center;
}

.title {
	display: inline-block;
	margin: 0 0 .25em;
	padding-left: 0.3em;
	font-weight: bold;
	font-size: 1.5em;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
	display: block;
	margin-top: .25em;
	padding: .25em 0;
	border-top: 1px dashed #ccc;

	font-size: .82em;
	color: #666;

	text-align: right;
	margin-right: .2em;
}

// font-awesome
.fa, .fa:hover {
	text-decoration: none;
}

a {
	&.fa, &.fa:hover {
	}
}

section {
	.right-top, .right-bottom {
		.fa:before {
			font-size: 1.5em;
			margin-right: .05em;
			vertical-align: middle;
		}
	}
}

/* ----------- end common.scss ----------- */
