:scss
	ul {
		list-style: circle;
	}

%section
	%h2 Test page

	- views = settings.views

	Existing templetes
	%ul
		- Dir.glob("#{views}/*.haml") do |f|
			- full_filename, filename = f.match(%r{#{views}/((.*).haml)})[1,2]
			%li<
				%a{href("/dev/render/#{filename}")}= full_filename
				%a{href("/dev/render_without_layout/#{filename}")} (without layout)

	%br
