- succeed ||= false
- errors ||= Hash.new
- errors.default = []

%section.form.border#file-manage
	%h2.title ファイルの管理

	- if succeed
		%span.center#message 変更しました

	- files = user_data.uploaded_files.available
	- if files.empty?
		%span.center ファイルがありません
		%a.btn.btn-primary.btn-block{href("/upload")}>
			%i.fa.fa-file-o>
			ファイルをアップロード
	- else
		%form.cf{action("/files/manage")}(method = "post" name = "files-manage")
			= haml :"partial/files", locals: {files: files, fields: [:file_name, :user_name, :created_at, :checkbox_file_manage]}

			%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

			%input.btn.btn-warning.btn-block(type = "submit" value = "変更")
