@charset "UTF-8";
@import "mylist_add";

ul.files li.file a.file-name {
	@include maxwidth-with-checkbox(2);
}

.checkbox {
	float: none;
}

.checkboxes {
	line-height: 0;

	span:not(span:first-child) {
		margin-left: 5px;
	}
}

.checkbox {
	margin-bottom: 0;
}

