@charset "utf-8";
@import "mylist_add";

section#file-manage {
	li.file {
		a {
			@include maxwidth-with-checkbox(2);

			padding: 0;
		}
	}

	.checkboxes {
		float: right;
		line-height: 0;

		span:not(span:first-child) {
			margin-left: 5px;
		}
	}

	.checkbox {
		margin-bottom: 0;
	}
}

