@charset "utf-8";
@import "mylist_add";

li.file-name {
	a {
		@include maxwidth-with-checkbox(2);
	}
}

.checkbox {
	float: none;
}

.checkboxes {
	line-height: 0;

	span:not(span:first-child) {
		margin-left: 5px;
	}
}

.checkbox {
	margin-bottom: 0;
}

