/* ----------- フォーム ----------- */
form {
  margin: 0 auto;
  padding: 10px;
}
.form {
  margin: 25px 20px 10px;
  padding: 5px;
}
label {
  display: inline-block;
  float: left;
  padding: 3px 0;
}
input {
  float: right;
}
input.button {
  margin-top: 10px;
}
#login input,
#register input {
  margin: 6px 3px 4px;
}
#login input[type=text],
#register input[type=text],
#login input[type=password],
#register input[type=password],
#login input[type=email],
#register input[type=email] {
  font-size: 1.25rem;
  height: 24px;
  outline: none;
  border-radius: 3px;
}
#login input[type=text]:focus,
#register input[type=text]:focus,
#login input[type=password]:focus,
#register input[type=password]:focus,
#login input[type=email]:focus,
#register input[type=email]:focus {
  border: 2px solid #7fbfff;
}
#login input[type=text]:hover,
#register input[type=text]:hover,
#login input[type=password]:hover,
#register input[type=password]:hover,
#login input[type=email]:hover,
#register input[type=email]:hover {
  border: 2px solid #e0efff;
}
#login label,
#register label {
  margin: 6px 3px 4px;
}
.clear {
  clear: both;
}
