/* ----------- フォーム ----------- */
form {
	margin: 0 auto;
	padding: 10px;
}

.form {
	margin: 25px 20px 10px;
	padding: 5px;
}

label {
	display: inline-block;

	float: left;

	padding: 3px 0;
}

input {
	float: right;
}

input.button {
	margin-top: 10px;
}

#login, #register {
	input {
		&[type=text], &[type=password], &[type=email] {
			font-size: 1.25rem;
			height: 24px;
			outline: none;

			border-radius: 3px;

			&:focus {
			  border: 2px solid #7fbfff;
			}
			&:hover {
			  border: 2px solid #e0efff;
			}
		}
		margin: 6px 3px 4px;
	}
	label {
		margin: 6px 3px 4px;
	}
}


.clear {
  clear: both;
}

//Todo: border-widthの調整 → 強調し過ぎ (Twitter Loginを参考に);