@charset "UTF-8";
@import "common";

section {
	&#mylists {
		li {
			list-style-type: none;
			display: block;
			clear: both;
			margin: .4em 0;
			padding-top: .8em;
			border-top: 1px solid hsl(0, 0%, 80%);

			&:first-child {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}

			.link {
				font-size: 1.2em;
				float: left;
			}

			.user {
				float: right;
				a {
					padding-right: 0;
					display: inline;
				}
			}
		}

		.summary {
			clear: both;
			float: left;
			margin: .5em .5em 0;
			text-indent: 1em;
			word-break: break-all;
		}
	}

	&#files {

	}

}