- if logged_in?
	%section.border#search
		-# %h3 検索
		%form{action("/search")}(method = "GET" placeholder = "キーワード")
			%input(type = "search" name="keyword")
			%input.btn.btn-primary(type = "submit" value = "検索")

	%section.border#mylists
		%h3 公開されているマイリスト
		- if Mylist.public.count.zero?
			%span.center 公開されているマイリストがありません
		- else
			- mylists = Mylist.public.all(limit: 100, order: [:created_at.desc])
			= haml :"partial/mylists", locals: {mylists: mylists}

	%section.border#files
		%h3 公開されているファイル
		- if UploadedFile.public.count.zero?
			%span.center 公開されているファイルがありません
		- else
			- files = UploadedFile.public.all(limit: 20, order: [:created_at.desc])
			= haml :"partial/files", locals: {files: files}
- else
	%section
		%a{href("/register")} 登録
		%br
		%a{href("/login")} ログイン
