@charset "UTF-8";
@import "common";
@import "partial/tables";

$form-width: 512px;
@import "form";

section {
	&#search {
		form {
			input {
				&[type=search] {
					width: 430px;
					display: inline-block;
					margin-bottom: 0;
				}

				&[type=submit] {
					margin-left: 12px;
				}
			}
		}
	}

	&#mylists {}
	&#files {}
}
