@charset "UTF-8";
@import "common";
@import "form";

/* ----------- login ----------- */

header {
	padding-bottom: 12px;
}

section#register-link {
	text-align: center;

	a.btn-block {
		margin-top: 8px;
	}
}
