@import "common.less";
@import "form.less";

body {
	width: 420px;
}

form {
	width: 330px;
}

label {
	width: 120px;
}

input {
	&[type=text], &[type=password], &[type=email] {
		width: 160px;
	}
}

section#register-link {
	padding: 10px 25px 0;
}

a.button {
	text-decoration: none;
	float: right;
}