%section.border#register-link
	まだ登録されてないですか？
	%br
	こちらから登録できます
	%a.button.blue{href("/register")} 新規登録
%section.form.border#login
	.title<
		ログイン
	%form.cf{action("/login/")}(method = "post" name = "login")
		%label< ID
		%input#user(type = "text" name = "id" required autofocus)
		%label<
			パスワード
		%input#pass(type = "password" name = "password" required)
		%input(type = "hidden" name = "_csrf" value = "#{csrf_token}")
		%input.button.blue(type = "submit" value = "ログイン")
