- error ||= false
%section.form.border#login
	%h2.title ログイン
	%form.cf{action("/login/")}(method = "post" name = "login")
		%label(for = "user-name") ユーザ名
		- if error
			%span.warn ユーザ名かパスワードが間違っています。
		%input#user-name(type = "text" name = "user_name" value = "#{params[:user_name]}" required autofocus)

		%label(for = "password") パスワード
		%input#password(type = "password" name = "password" required)

		%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

		%input.btn.btn-primary.btn-block(type = "submit" value = "ログイン")

%section.border#register-link
	まだ登録されてないですか？
	%a.btn.btn-primary.btn-block{href("/register")} 新規登録
