@charset "UTF-8";
@import "common";
@import "bootstrap-buttons";
@import "partial/tables";

section {
	.title {
		word-break: break-all;
	}

	> .user {
		float: left;
		clear: left;
	}

	.comment {
		clear: both;
		margin: .5em .5em .75em;
		word-break: break-all;

		padding-bottom: .2em;
		border-bottom: 1px solid hsl(0, 0%, 93%);
	}

	.files {
		margin-top: .5em;
	}
}
