%script{src("/js/jquery.superSimpleTabs.min.js")}

:javascript
	$(function(){
		$('#mypage').superSimpleTabs({ selected: 1});
	});

%section#mypage.border

	%h2.title マイページ

	%div.tabs
		%span.item
			%a.btn.btn-default(href = "#files") ファイル
		%span.item
			%a.btn.btn-default(href = "#mylists") マイリスト

	%section#files
		%h3 ファイル
		%span.right-top
			%a{href("/files/manage")}<
				%i.fa.fa-inbox>
				ファイルの管理
			%a{href("/upload")}<
				%i.fa.fa-upload>
				ファイルをアップロード
		- files = user_data.uploaded_files.available
		- if files.empty?
			%span.center ファイルがありません
		- else
			= haml :"partial/files", locals: {files: files, fields: [:file_name, :created_at]}

	%section#mylists
		%h3 マイリスト
		%span.right-top
			%a{href("/mylist/new")}<
				%i.fa.fa-list>
				マイリストを作成
		- mylists = user_data.mylists.available
		- if mylists.empty?
			%span.center マイリストがありません
		- else
			= haml :"partial/mylists", locals: {mylists: mylists, fields: [:title, :updated_at]}
