@charset "UTF-8";
@import "common";
@import "bootstrap-buttons";
@import "partial/tables";

.uploaded > section {
	position: relative;
	margin: 0;
	padding: 10px;
	border: 2px solid transparent;

	transition: all .2s ease-in-out 20ms;

	& > h3 {
		margin: 0 0 10px;
	}

	&:hover {
		background-color: #f0f2ff;
		border: 2px solid #dde;
		border-radius: 4px;

		transition: all 200ms ease-in-out;
	}

}

section.js-tab {
	h3:first-child {
		margin-top: .5em;
	}

	.right-top {
		margin-top: .32em;
	}
}

// jquery.superSimpleTabs
.tabs {
	width: 100%;
	display: flex;
	margin-bottom: 5px;

	.item {
		display: inline-block;
		width: 48%;
		flex: 1;
		box-sizing: border-box;
		margin: 0 5px;

		.btn {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 100%;

			&.selected {
				background: #428bca;
				cursor: default;
				outline: none;
				color: white;
			}

			&:not(.selected):hover {
				background-color: #F7F7F7;
			}
		}
	}
}