%section.form.border#register
	.title<
		新規登録

	%form(method = "post" action = "../process" name = "register")
		%label 名前
		-#%input(type = "text" name = "name" required autofocus)
		%span.value<
			= params[:name]
		%br.clear
		-#%label 学籍番号
		-#%input(type = "text" name = "studentID")
		-#%br.clear

		%label<
			メールアドレス
			%small> &nbsp;(任意)
		%span.value<
			= params[:mail] == "" ? "入力されていません" : params[:mail]
		-#%input(type = "email" name = "mail")
		%br.clear

		%label<
			ID
		%span.value<
			= params[:id]
		-#%input(type = "text" name = "id" autocomplete = "off" required)
		%br.clear

		%label
			パスワード
		%span.value<
			= "*" * params[:password].length
		-#%input#pass(type = "password" name = "pass" autocomplete = "off" required)
		%br.clear

		%input.button.orange(type = "submit" value = "登録")
		%input.button(type = "button" value = "戻る"
			onClick = "history.back(); return false;")
		-#%input.button.blue type = "submit", onclick = "return convert_newac()"}
		%br.clear
