%section.form.border#register_confirm
	%h2.title 新規登録 - 確認

	%form{action("/register/process")}(method = "post" name = "register-confirm")

		- if Sinatra::Base.development?
			%label.key UUID
			%span.value= session[:uuid]

		%label.key ユーザ名
		%span.value= params[:user_name]

		%label.key
			メールアドレス
			%small> &nbsp;(任意)
		%span.value= params[:mail].empty? ? "入力されていません" : params[:mail]

		%label.key パスワード
		%span.value 表示されません

		%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

		%input.btn.btn-default.btn-block(type = "button" value = "戻る" onClick = "history.back(); return false;")
		%input.btn.btn-primary.btn-block(type = "submit" value = "登録")
