%section.form.border#register
	.title<
		新規登録

	%form{action("/register/process")}(method = "post" name = "register")
		%label.key 表示名
		-#%input(type = "text" name = "name" required autofocus)
		%label.value<
			= params[:name]
		%br.clear
		-#%label 学籍番号
		-#%br.clear

		%label.key<
			メールアドレス
			%small> &nbsp;(任意)
		%label.value<
			= params[:mail] == "" ? "入力されていません" : params[:mail]
		%br.clear

		%label.key<
			ID
		%label.value<
			= params[:id]
		%br.clear

		%label.key
			パスワード
		%label.value<
			= ?* * params[:password].length
		%br.clear

		%input.button.orange(type = "submit" value = "登録")
		%input.button(type = "button" value = "戻る"
			onClick = "history.back(); return false;")
		%br.clear
