@import "normalize.css";
@charset "utf-8";
/* 基準:16px
10px:63%     11px:69%       12px:75%
13px:81.5%    14px:88%      15px:94%
16px:100%     17px:106.3%  18px:112.5%
19px:119%     20px:125%     21px:131.3%
22px:137.5%   23px:144%    24px:150%
25px:156.3%   26px:162.5%
*/
* {
  font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;
  color: #333;
  font-size: 16px;
}
* html {
  font-size: 100%;
}
*:first-child + html {
  font-size: 100%;
}
body {
  background-image: url(./akari.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: auto 320px;
  margin: 15px auto 0 auto;
  padding-bottom: 15px;
  width: 630px;
  border: 5px solid #c8efdc;
  border-radius: 8px;
}
/* ----------- 定形 ----------- */
a {
  color: #007b43;
}
ul,
ol {
  margin: 0;
}
/*
del { text-decoration: line-through; }
i { font-style: italic; }
b	{	font-weight: bold; }
*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* ----------- ヘッダー ----------- */
header {
  background-color: #29905e;
  border-radius: 4px;
  padding: 8px 15px;
  margin-bottom: 8px;
}
header * {
  color: #fcfaf5;
}
header #right {
  position: absolute;
  right: 8px;
  top: 2px;
  text-align: right;
}
#title {
  font-size: 150%;
}
#title a {
  font-size: 100%;
  text-decoration: none;
}
#logout {
  font-size: 81.5%;
  color: #CCC;
}
/* ----------- 枠 ----------- */
.center {
  margin: 0 auto;
  width: 400px;
}
.titleD {
  margin: -17px auto auto 10px;
}
.titleD .titleS {
  font-size: 106.7%;
  padding: 0 7px;
  background: white;
  width: auto;
}
/* -----------フッター ----------- */
hr {
  border: 0;
  height: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
  height: 15px;
  border-top: 1px dashed #CCC;
}
footer * {
  font-size: 81.5%;
  padding: 8px 2px 2px 8px;
  position: absolute;
  bottom: 2px;
}
footer #author {
  text-align: right;
  right: 0;
}
/* -----------Super Simple CSS Buttons ----------- */
/* http://devgrow.com/examples/cssbuttons/ */
.button {
  margin-left: 5px;
  margin-right: 1px;
  padding: 5px 10px;
  display: inline;
  background: #777777 url(button.png) repeat-x bottom;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 1px 1px #666;
}
.button:hover {
  background-position: 0 center;
}
.button:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  padding: 6px 10px 4px;
}
.button.red {
  background-color: #e50000;
}
.button.purple {
  background-color: #9400bf;
}
.button.green {
  background-color: #58aa00;
}
.button.orange {
  background-color: #ff9c00;
}
.button.blue {
  background-color: #2c6da0;
}
.button.black {
  background-color: #333;
}
.button.white {
  background-color: #fff;
  color: #000;
  text-shadow: 1px 1px #fff;
}
.button.small {
  font-size: 75%;
  padding: 3px 7px;
}
.button.small:active {
  padding: 4px 7px 2px;
  background-position: 0 top;
}
.button.large {
  font-size: 125%;
  padding: 7px 12px;
}
.button.large:active {
  padding: 8px 12px 6px;
  background-position: 0 top;
}
/* ----------- フォーム ----------- */
form {
  padding: 10px;
}
.form {
  margin: 15px 5px;
  padding: 3px 5px;
  border: #cec 2px solid;
  border-radius: 8px;
}
label {
  display: inline-block;
  float: left;
  width: 100px;
}
input[type=submit],
input[type=button] {
  float: right;
}
.clear {
  clear: both;
}
#login input[type=text],
#register input[type=text],
#login input[type=password],
#register input[type=password],
#login input[type=email],
#register input[type=email] {
  width: 200px;
  padding: 1px 3px;
  font-size: 125%;
  height: 24px;
  border-radius: 5px;
}
#login input[type=text]:focus,
#register input[type=text]:focus,
#login input[type=password]:focus,
#register input[type=password]:focus,
#login input[type=email]:focus,
#register input[type=email]:focus {
  border: 2px solid #7fbfff;
}
#login input[type=text]:hover,
#register input[type=text]:hover,
#login input[type=password]:hover,
#register input[type=password]:hover,
#login input[type=email]:hover,
#register input[type=email]:hover {
  border: 2px solid #e0efff;
}
form {
  width: 400px;
  margin: 0 auto;
}
.value {
  display: inline-block;
}
.value,
label {
  margin: 5px 0 3px 0;
}
.value {
  float: left;
  padding-top: 4px;
}
.value:before {
  content: "\00a0:\00a0";
}
label {
  float: left;
  width: 180px;
  padding-top: 4px;
  text-align: right;
}
