- files_result ||= []
- mylists_result ||= []
- keyword ||= ""

%section.form.border#search
	- if keyword.empty?
		%h2.title 検索
	- else
		%h2.title #{keyword} の検索結果

	%form{action("/search")}(method = "get" name = "search")
		%input#keyword(type = "search" name = "keyword" value = "" required)

		%input.btn.btn-primary(type = "submit" value = "検索")

	- unless keyword.empty?
		%section#mylists
			%h3 マイリスト
			- if mylists_result.empty?
				%span.not-found キーワードに一致するマイリストがありません
			- else
				= haml :"partial/mylists", locals: {mylists: mylists_result, fields: [:title, :user_name, :updated_at]}

		%section#files
			%h3 ファイル
			- if files_result.empty?
				%span.not-found キーワードに一致するファイルがありません
			- else
				= haml :"partial/files", locals: {files: files_result, fields: [:file_name, :user_name, :created_at]}
