@charset "UTF-8";
@import "common";
@import "partial/tables";

$form-width: 400px;
@import "form";

form {
	margin: 0 auto;

	input {
		&[type=search] {
			width: 320px;
			display: inline-block;
			margin-bottom: 0;
		}

		&[type=submit] {
			margin-left: 12px;
		}
	}
}

section {
	margin-top: 1em;

	span.not-found {
		margin-left: 1em;
		vertical-align: text-top;
	}
}
