:css
	ul {
		list-style: none;
	}
	ul li:before {
		display : inline-block;
		content : ' ';
	  width		: 0;
	  height	: 0;
		border-top		: solid transparent;
		border-bottom	: solid transparent;
		border-left		: solid rgb(100, 100, 192);
		border-width	: 5px;
		margin-right	:	5px;
	}

	ul.tagit li:before {
		border: none;
		margin-right: auto;
		content: initial;
	}
	ul.tagit li.tagit-choice {
		height: 1.3em;
		/* 日本語対応 */
	}

:javascript
	$(function(){
		$('#tagit').tagit({autocomplete: { disabled: true }});
	});

%section
	%h2 Test page

	- if mode == "post"
		%h3 Post
		= params
	%form{action("/test/")}(method = "POST")
		%input{value: params[:tags]}(name = "tags" id = "tagit")
		%input(type = "submit")
	%br

	- list = Dir::glob(File.expand_path(File.dirname(__FILE__)) + "/*.haml")
	- list.map!{|f| f.match(/views\/(.*)/)[1] }
	Exists templetes (click to render)
	%ul
		- list.each do |f|
			- fn = "/test/render/" + f.match(/(.*?)\..*/)[1]
			%li<
				%a{href(fn)}= f

	%br
	- list = Dir::glob(File.expand_path(File.dirname(__FILE__)) + "/*.md")
	- list.map!{|f| f.match(/views\/(.*)/)[1] }
	Exists Markdown templetes (click to render)
	%ul
		- list.each do |f|
			- fn = "/test/md/" + f.match(/(.*?)\..*/)[1]
			%li<
				%a{href(fn)}= f