:javascript
	$(function(){
		$(".buttonw").each(function(){
			var $this = $(this),
					$file = $this.prev("input[type=file]");

			$this.on("click", function(e){ $file.trigger("click"); });
			$file.change(function(){
				$("ul").empty();
				if(window.File){
					$.each(this.files, function(i, val){
						$("ul").append("<li>" + val.name + "</li>\n");
					})
				} else {
					$("ul").append("<li>" + $(this).value() + "</li>");
				}
			});
		});
	});

%section.form.border#login
	.title<
		アップロード
	%form.cf{action("/uploads")}(method = "post" enctype = "multipart/form-data" name = "login")
		%label< タイトル
		%input#title(type = "text" name = "title" autofocus)

		%label< ファイル
		%input(type = "file" name="file[]" size = "0" multiple)
		%input#file(type = "button" class = "buttonw" value = "参照...")

		%input(type = "hidden" name = "_csrf" value = "#{csrf_token}")
		%input.button.blue(type = "submit" value = "アップロード")

		%ul#files
