:javascript
	$(function(){
		$(".buttonw").each(function(){
			var $this = $(this),
					$file = $this.prev("input[type=file]");

			$this.on("click", function(e){ $file.trigger("click"); });
			$file.change(function() {
				$("ul").empty();
				if(window.File) {
					$.each(this.files, function(i, val){
						add_file_list(val.name);
					})
				} else add_file_list($(this).value());
			});
		});

		function add_file_list(file_name) {
			$("ul").append("<li>" + file_name + "</li>");
		}
	});

%section.form.border#login
	.title<
		アップロード
	%form.cf{action("/uploads")}(method = "post" enctype = "multipart/form-data" name = "login")
		%label< タイトル
		%input#title(type = "text" name = "title" autofocus)

		%label< ファイル
		%input(type = "file" name="file[]" size = "0" multiple required)
		%input#file(type = "button" class = "buttonw" value = "参照...")

		%input(type = "hidden" name = "_csrf" value = "#{csrf_token}")
		%input.button.blue(type = "submit" value = "アップロード")

		%ul#files
