@charset "UTF-8";
@import "common";

$form-width: 400px;
@import "form";

form {
	#message {
		margin: .2em 0 1em;
		color: hsl(10, 90%, 50%);
	}

	label {
		margin-right: .5em;

		&[for=file] {
			float: left;
			vertical-align: middle;
			display: inline;
		}
	}

	textarea {
		resize: vertical;
		font-size: .88em;
	}

	ul#files {
		@include ellipsis;

		margin: 10px 0;
		padding: 0 0 0 10px;

		list-style-type: circle;
		list-style-position: inside;
	}

	input[type=submit] {
		float: right;

	}
}
