@charset "UTF-8";
@import "common";
@import "form";

form {
	label {
		width: 120px;
		margin-right: 24px;
	}

	#files {
		clear: left;

		margin: 10px 0 0 90px;
		width: 300px;

		list-style-position: inside;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

input[type=text] {
	width: 320px;
}

#title, #file {
	float: left;
}

.tagit {
	width: 326px;
}


/*
.button {
	float: right;
}
*/