%script{src("/js/jquery.superSimpleTabs.min.js")}

:javascript
	$(function(){
		$('#mypage').superSimpleTabs({ selected: 1});
	});

%section#mypage.border
	%h2.title= user.user_name

	%div.tabs
		%span.item
			%a.btn.btn-default(href = "#files") ファイル
		%span.item
			%a.btn.btn-default(href = "#mylists") マイリスト

	%section#files
		%h3 ファイル
		- files = user.uploaded_files.public
		- if files.empty?
			%span.center 公開されているファイルがありません
		- else
			= haml :"partial/files", locals: {files: files, fields: [:file_name, :created_at]}

	%section#mylists
		%h3 マイリスト
		- mylists = user.mylists.public
		- if mylists.empty?
			%span.center 公開されているマイリストがありません
		- else
			= haml :"partial/mylists", locals: {mylists: mylists, fields: [:title, :updated_at]}
