@charset "UTF-8";
@import "../mixin";

#files {
	& article:first-of-type {
		border-top: none;
		padding-top: 0;
	}

	article {
		border-top: 1px solid #ddd;
		margin-bottom: .5em;
		padding: .5em 12px 0;

		a.link {
			display: inline-block;
			max-width: 100%;
			@include ellipsis;

			font-size: 1.2em;
			line-height: 1.2;
		}

		.user {
			float: left;
			display: block;
		}

		time {
			font-size: .88em;
			float: right;
		}
	}
}