@charset "UTF-8";

#mylists ul {
	padding-left: 12px;

	li {
		list-style-type: none;
		display: block;
		clear: both;
		margin: .48em 0;
		padding-top: .48em;
		border-top: 1px solid hsl(0, 0%, 80%);

		&:first-child {
			border-top: none;
			margin-top: 0;
			padding-top: 0;
		}

		.link {
			line-height: 1.8;
			font-size: 1.2em;
		}

		.user {
			display: block;
		}

		.summary {
			display: block;
			margin: .5em;
			word-break: break-all;
		}
	}
}