%ul
	- mylists.each do |mylist|
		%li{"data-id" => mylist.id}<
			%a.link{href("/mylists/#{mylist.id}")}= mylist.title
			%br
			%a.user{href("/user/#{mylist.user_user_name}")}>= mylist.user_user_name
			- unless mylist.comment.empty?
				%span.summary= mylist.comment[0..50]